body {
    background-color:#fbafe3 ;
}

h1 {
    color:RED; font-size: 100px;
}
h3{
    color:rgb(0, 255, 51); font-size: 50px;
}
.circular{
     border-radius: 500%; height: 450; width: 350;
}
/*img:hover {
    background-color:gold;
}*/


.myButton {
	box-shadow:inset 0px 1px 0px 0px #fbafe3;
	background:linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
	background-color:#ff5bb0;
	border-radius:8px;
	border:1px solid #ee1eb5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:22px;
	font-weight:bold;
	padding:9px 28px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c70067;
}
.myButton:hover {
	background:linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
	background-color:#ef027d;
}
.myButton:active {
	position:relative;
	top:1px;
}